.search-form {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;

  & > span {
    position: absolute !important;
    top: 79%;
    left: 50%;
    transform: translateX(-50%);
  }
}
